h1{
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}
.shadow{
  box-shadow: 4px 2px 10px 3px black;
}
.bg{
  background-color: rgb(185, 188, 186);
}

