{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

{% include 'header.html' %}
<br>

<div class="container bg-white shadow=md p-5 form-layout">
    <h3> This is our dashboard page!</h3>
    <hr>
    <a href="{% url 'create-task' %}">Create Task</a>
    <br>
    <a href="{% url 'view-tasks' %}">View Tasks</a>
</div>
<body>
    
</body>
</html>